body{
    background: #121212;
    color: #fff;
}

.acaraje-img{
    width: 500px;
}

.chilli-img{
    width: 500px;
}

.pizza-img{
    width: 500px;
}

.mousse-img{
    width: 500px;
}

.pimentao-img{
    width: 500px;
}

.polpetone-img{
    width: 500px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

hr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

br{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url("images/Space-PNG-Clipart.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.botao-voltar{
    
    font-size: 30px;
    color: #960BE0;
    text-decoration: none;
    
}

.img-index{
    width: 500px;
    margin-left: 600px;
}

span{
    font-size: 40px ;
}

.memes{
    width: 500px;
    margin-left: 600px;
}
